imaio_test.exe
imaio.lib
imaio.dll
imaio_dll.lib
imaio64.lib
imaio64.dll
imaio64_dll.lib
lib*.a
*.o
*.obj
*.res
*.tds
*.tmp
*.user
*.sdf
*.suo
*.filters
grad.bmp
circle.bmp
star.bmp
star.gif
xwordgiver-title.bmp
money.jpg
money.gif
money.png
money.tif
circle_res.bmp
star_res.bmp
money_res.bmp
created.bmp
new_anime.*
new_circle.gif
new-clock-opt.*
frame-*.bmp
frame-*.gif
frame-*.png
another_star.png
part*.png
screen*.png
*.map
*.def
